<p id="notice"><%= notice %></p>

<p>
  <strong>Pref:</strong>
  <%= @add_prefid_to_user.pref_id %>
</p>

<%= link_to 'Edit', edit_add_prefid_to_user_path(@add_prefid_to_user) %> |
<%= link_to 'Back', add_prefid_to_users_path %>
